/* Fonts Start */

  /* MuseoModern Family */

    @font-face {
      font-family: MuseoModerno;
      src: url(static/fonts/MuseoModerno-VariableFont_wght.ttf);
    }

  /* Archivo Family */

    @font-face {
      font-family: Archivo;
      src: url(static/fonts/Archivo-VariableFont_wdth\,wght.ttf);
    }

/* Fonts End */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width{   /*USED FOR ALL LEFT-RIGHT FORMATTING TO KEEP IT THE SAME */
  /* max-width: 1300px; */
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  /* margin: auto; */
}

/* Navbar Start */

.navbar {
  position: fixed;
  width: 100%;
  background-color:	rgba(252, 252, 252, .5); 
  backdrop-filter: blur(3.5px);
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0px 1px 6px slategray;
  z-index: 999;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-family: MuseoModerno;
  font-size: 35px;
  color: #4D8DF0;
}

.navbar .logo a span {
  color: #F05839;
}

.navbar .menu li {
  list-style: none;
  font-family: MuseoModerno;
  font-size: 18px;
  display: inline-block;
}
  
.navbar .menu li a {
  color: #f8ac9c;
  text-align: center;
  margin-left: 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Navbar End */

/* Main Section  */

.main .max-width{
  /* margin: auto 0 auto 40px; */
  margin-top: 85px;
}

.main .h1{
  text-transform: uppercase;
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.015em;
}

