/* Fonts Start */

  /* MuseoModern Family */

    @font-face {
      font-family: MuseoModerno;
      src: url(static/fonts/MuseoModerno-VariableFont_wght.ttf);
    }

  /* Archivo Family */

    @font-face {
      font-family: Archivo;
      src: url(static/fonts/Archivo-VariableFont_wdth\,wght.ttf);
    }

/* Fonts End */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.margin {
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

body {
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

/* Navbar Start */

.navbar {
  list-style-type: none;
  position: fixed;
  width: 100%;
  background-color:	rgba(252, 252, 252, .5);
  backdrop-filter: blur(3.5px);
  display: flexbox;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0px 1px 6px slategray;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  float: left;
  font-family: MuseoModerno;
  font-size: 35px;
  color: #4D8DF0;
  text-decoration: none;
}

.navbar .logo a span {
  color: #F05839;
}

  .navbar .menu li {
    list-style: none;
    float: right;
    font-family: MuseoModerno;
    font-size: 18px;
  }
  
  .navbar .menu li a {
    display: block;
    color: #f8ac9c;
    text-align: center;
    padding: 0px 12px;
    text-decoration: none;
  }

  .navbar .menu li a span {
    display: block;
    color: #a6c6f8;
    text-align: center;
    text-decoration: none;
  }

  .navbar .menu li a span:hover {
    color: #4D8DF0;
    font-family: MuseoModerno;
  }

  .navbar .menu li a:hover{
    color: #F05839;
    font-family: MuseoModerno;
  }

  #services:target, #about:target, #projects:target, #contact:target{
    color: #F05839;
  }
  
  #home:target span{
    color: #4D8DF0;
  }

/* Navbar End */

/* Particles Start */

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  text-align: center;
  background-size: cover;
}

.home {
    display: flex;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
}

/* Particles End */

  .container {
    margin: 20px;
    padding: 20px;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  /* 2/3 column */
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }

  /* 100 full area */
  .full-100 {
    width: 100%;
    padding: 20px;
  }

  /* 1/2 column */
  .column-50 {
    float: left;
    width: 50%;
    padding: 20px;
  }
  
  /* 1/3 column */
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  /* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }