@font-face {
    font-family: MuseoModerno;
    src: url(static/fonts/MuseoModerno-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: Archivo;
    src: url(static/fonts/Archivo-VariableFont_wdth\,wght.ttf);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }

  .fab.fa-instagram-square {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .max-width{   /*USED FOR ALL LEFT-RIGHT FORMATTING TO KEEP IT THE SAME */
      /* max-width: 1300px; */
      padding-left: 190px;
      padding-right: 190px;
      /* margin: auto; */
  }
  .navbar{
      position: fixed;
      width: 100%;
      padding-bottom: 4px;
      padding-top: 4px;
      background-color:	rgba(252, 252, 252, 1); 
      box-shadow: 0px 1px 6px slategray;
      font-family: 'MuseoModerno', sans-serif;
      transition: all 0.3s ease;
      z-index: 999;
  }
  
  .navbar .max-width{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar .logo a{
      color: #4D8DF0;
      font-size: 35px;
      font-weight: normal;
  }
  
  .navbar .logo span{
      color: #F05839;
  }
  
  .navbar .menu li {
      list-style: none;
      display: inline-block;
  }
  .navbar .menu li a{
      color: #f8ac9c;
      font-size: 20px;
      font-weight: 400;
      margin-left: 25px;
      transition: color 0.3s ease;
  }
  .navbar .menu li a span{
      color: #a6c6f8;
      transition: color 0.3s ease;
  }
  
  .navbar .menu li a:hover{
      color: #F05839;
  }
  .navbar .menu li a span:hover{
      color: #4D8DF0;
  }
  
  #services-nav:target, #about-nav:target, #projects-nav:target, #contact-nav:target{
    color: #F05839;
  }
  
  #home-nav:target span{
    color: #4D8DF0;
  }
  
  /*home styling*/
  .home{
      display: grid;
      height: 100vh;
      color: white;
      min-height: 500px;
      /* background-color: blue; */
  }
  
  .home .max-width{
      margin-top: 60vh;
  }
  
  .home .home-content{
      color: #1f2022;
      text-align: center;
  }
  .home .home-content .text-1{
      font-size: 25px;
      font-family: Archivo;
      font-weight: 100;
  }
  .home .home-content .text-2{
      font-size: 60px;
      font-family: MuseoModerno;
      font-weight: normal;
  }
  
/* moving text  */
.home .home-content .console-container {
    font-size: 100px;
    font-family: MuseoModerno;
    font-weight: bold;
    color:white;
    height: 150px;
}

  /* Creates three equal columns that floats next to each other */
.home .home-content .column {
    margin-top: 150px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.home .home-content .column h2{
    margin-top: 25px;
    font-size: 25px;
    font-family: Archivo;
    font-weight: 100;
}
  
  /* Clear floats after the columns */
.home .home-content .row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* trying particles below  */
  #particles {
      width: 100%;
      height: 100%;
      overflow: hidden;
      
    }
    
    #intro {
      position: absolute;
      left: 0;
      top: 25%;
      padding: 0 20px;
      width: 100%; 
      text-align: center;
    }


/* Services section  */
.services{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: left;
}
.services .max-width h1{
    font-size: 50px;
    font-family: 'MuseoModerno', sans-serif;
}

.services .max-width h2{
    font-size: 30px;
    font-family: 'Archivo';
    font-weight: bold;
}

.services .max-width p{
    font-size: 20px;
    font-family: 'Archivo';
    font-weight: light;
}

.services .max-width .column{
    margin-top: 50px;
    float: left;
    width: 33.33%;
    padding-right: 75px;
}
.services .max-width .row:after {
    content: "";
    display: table;
    clear: both;
}

/* About Us section  */

.about{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'MuseoModerno', sans-serif;
}

.about .column {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    border: solid black;

  }
  
.about .row:after {
    content: "";
    display: table;
    clear: both;
  }

.about h1{
    font-size: 50px;
    text-align: left;

}










